 h1 {
    color: #fafafa;
    text-align: left;
    font-size: 30px;
  }
  h2 {
    color: #7b7b7b;
    text-align: left;
    font-size: 24px;
  }

p {
  font-size: 18px;
  color: #6f6f6f;
  text-indent: 1;
}

marquee {
    font-size:20px;
    color: #ffffff;
}

a {
    text-align: left;
    color: #00b9ff;
}

body {
  background-color: #1a1a1a;
  color: #fafafa;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}