 h1 {
    color: #fafafa
    text-align: center;
  }
  h2 {
    color: darkgray;
    text-align: center;
  }


marquee {
    font-size:20px;
    color: #ffffff;
}

link {
    text-align: left;
    color: blue;
}

body {
  background-color: #2f2f2f;
  color: #fafafa;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}