 h1 {
    color: #111;
    text-align: left;
    font-size: 40px;
  }
  h2 {
    color: #7b7b7b;
    text-align: left;
    font-size: 24px;
  }

p {
  font-size: 18px;
  color: #6f6f6f;
}

marquee {
    font-size:20px;
    color: #ffffff;
}


body {
  background-color: #fbfbfb;
  color: #1f1f1f;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

a {
  font: size 20px;
  color:#00b9ff
}